<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-neutral-950">
    <div class="flex items-center justify-center h-screen">
      <div
        class="bg-neutral-950 border border-neutral-900 p-8 rounded-lg shadow-md"
      >
        <h1 class="text-xl font-black mb-6 text-yellow-300">Sign In</h1>
        <form id="loginForm" class="space-y-4">
          <div>
            <label for="username" class="text-neutral-200 text-xs font-semibold"
              >Username:</label
            >
            <input
              type="text"
              name="username"
              id="username"
              class="bg-neutral-900 border border-neutral-900 p-2 outline-none text-sm rounded-md w-full mt-2 text-yellow-600"
              required
            />
          </div>
          <div>
            <label
              for="password"
              class="text-neutral-200 text-xs mb-2 font-semibold"
              >Password:</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="bg-neutral-900 border border-neutral-900 p-2 outline-none text-sm rounded-md w-full text-yellow-600 mt-2"
              required
            />
          </div>
          <button
            type="submit"
            class="bg-yellow-400 border border-yellow-900 hover:bg-yellow-500 text-black font-bold py-2 px-4 text-xs rounded-md w-full transition duration-200"
          >
            Login
          </button>
        </form>
      </div>
    </div>

    <script>
      const token = localStorage.getItem("cdntoken");
      if (token) {
        const userData = JSON.parse(atob(token.split(".")[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        if (userData.exp > currentTime) {
          window.location.href = "/";
        }
      }

      document
        .getElementById("loginForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const formData = new FormData(e.target);
          const data = {
            username: formData.get("username"),
            password: formData.get("password"),
          };

          try {
            const response = await fetch("/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });

            if (response.ok) {
              const result = await response.json();
              localStorage.setItem("cdntoken", result.token);
              window.location.href = "/";
            } else {
              const error = await response.json();
              alert(error.message);
            }
          } catch (error) {
            console.error("An error occurred:", error);
          }
        });
    </script>
  </body>
</html>
